go 1.25.4

use (
	./apps/cli
	./apps/config
	./apps/exporter
	./apps/gateway
	./apps/simulator
	./apps/telemetry-test
	./apps/transformer
	./pkg/communication
	./pkg/database
	./pkg/errors
	./pkg/types
)
