apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
  namespace: grafana
spec:
  containers:
    - name: grafana
      image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
      imagePullPolicy: IfNotPresent
      ports:
        - name: grafana
          containerPort: {{ .Values.service.port }}
      volumeMounts:
        - name: grafana-data
          mountPath: /var/lib/grafana
  volumes:
    - name: grafana-data
      persistentVolumeClaim:
        claimName: grafana-data