image:
  repository: "otel/opentelemetry-collector"
  tag: latest

namespaceOverride: "opentelemetry"

ports:
  otlp: 4318
  prometheus: 9464

config:
  receivers:
    otlp:
      protocols:
        http:
          endpoint: "0.0.0.0:4318"

  exporters:
    prometheus:
      endpoint: ":9464"

  processors:
    batch: {}
  service:
    pipelines:
      metrics:
        receivers: [otlp]
        processors: [batch]
        exporters: [prometheus]